<h2>Log in</h2>

<p>To log in, please sign in with Twitter through the button below.</p>

<p>
  <%= link_to "Log In With Twitter", user_twitter_omniauth_authorize_url, class: "uk-button uk-button-default" %>
</p>
