<div class="uk-card uk-card-small uk-card-default">
  <%= link_to commission, class: "uk-link-toggle" do %>
    <div class="uk-card-media-top uk-text-center uk-cover-container uk-height-small">
      <% if commission.files.attached? %>
        <img src="<%= url_for commission.thumbnail %>" uk-cover>
      <% else %>
        <span class="uk-padding" uk-icon="icon: move; ratio: 3"></span>
      <% end %>
    </div>

    <div class="uk-card-body">
      <h5 class="uk-link-heading"><%= commission.title %></h5>
    </div>
  <% end %>
</div>
