<h1>Commissions</h1>

<% unless @commissions.empty? %>
  <div class="uk-grid-small uk-child-width-1-2@s uk-child-width-1-4@m uk-child-width-1-6@l" uk-grid uk-height-match=".uk-card">
    <% @commissions.each do |commission| %>
      <div>
        <%= render commission %>
      </div>
    <% end %>
  </div>

<% else %>
  <p>
    You don't have any commissions yet. Why not
    <%= link_to "create a new one?", new_commission_url %>
  </p>
<% end %>
