<div class="uk-card uk-card-default uk-card-small">
  <div class="uk-card-body">
    <h3 class="uk-card-title">Progress</h3>
    <p>
      Whether or not it's started or finished, when
    </p>
  </div>
</div>
